@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    color: #333;
    background-color: #f9f9f9;
}

header, footer {
    display: none; /* Hide default GitHub Pages header and footer */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #222;
}

h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #444;
}

p, ul, li {
    font-size: 1em;
    line-height: 1.6;
    margin: 5px 0;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

i {
    font-style: italic;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Specific Section Styling */
.professional-experience, .additional-experience, .education-section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.professional-experience h2, .additional-experience h3, .education-section h2 {
    margin-bottom: 10px;
    color: #333;
}

.professional-experience ul, .additional-experience ul, .education-section ul {
    padding-left: 15px;
}

.professional-experience li, .additional-experience li, .education-section li {
    margin-bottom: 3px;
}

footer {
    font-size: 0.8em;
    color: #999;
    text-align: center;
    margin-top: 40px;
}
